/**************************************************************************************************/
/* Gp.Basic                                                                                       */
/**************************************************************************************************/

/* Automatically added to "Gp.Basic.simpleImage" container.
 */
.gp-simple-image
{
  text-align : center;                            /* Center caption text.                         */
}

/* The upgrade span for "html5Message".
 */
#gp-upgrade
{
  display     : none;
  font-weight : bold;
  margin-top  : 1.1em;
}
